<div class="example-ripple-container">
    <video muted autoplay muted loop controls>
        <source src="../../../assets/A Love Blossoms.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
</div>

<div class="join-connect-btn" fxLayout="row" fxLayoutAlign="space-around">
    <div fxHide.xs fxHide.sm fxFlex="40" fxFlex.xs="70" fxLayout="column" class="example-button-row">
        <h2>Welcome to our connect chennal</h2>
        <div class="text-color" style="line-height: 34px;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, reprehenderit commodi! Error debitis excepturi
            eligendi soluta qui minus beatae veritatis et corporis, dolorem obcaecati voluptates quis autem magni nisi
            rem?
        </div>
        <br>
        <button mat-raised-button color="accent">Sign Up</button>
    </div>
    <div fxFlex="40" ngStyle.xs="margin-top: -102px;" fxFlex.sm="65" fxFlex.xs="80" fxLayout="column"
        class="example-button-row">
        <app-login></app-login>
    </div>
</div>