<div class="events-content" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"
    fxLayoutAlign="space-around center">
    <div fxLayout="column" fxLayoutAlign="space-around stretch">

        <div>
            <h1>Events</h1>
            <mat-divider></mat-divider>
        </div>
        <div>
            <div ngStyle.lg="text-align: center;">
                <br>
                <br>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Dignissimos accusantium voluptatem enim
                aperiam hic consectetur aliquam nulla vitae a. Aliquam deserunt esse repellat distinctio omnis vitae cum
                voluptatum iste iure!um, dolor sit amet consectetur adipisicing elit.
                Dignissimos accusantium voluptatem enim
                aperiam hic consectetur aliquam nulla vitae a. Aliquam deserunt esse repellat distinctio omnis vitae cum
                voluptatum iste iure!um, dolor sit amet consectetur adipisicing elit.
                Dignissimos accusantium voluptatem enim
                aperiam hic consectetur aliquam nulla vitae a. Aliquam deserunt esse repellat distinctio omnis vitae cum
                voluptatum iste iure!
                <br>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, minus quasi iusto autem debitis
                cupiditate dignissimos quidem inventore laboriosam dolore, deleniti unde ducimus exercitationem quaerat.
                Similique totam beatae iste possimus.
                <br>
                <br>
            </div>
        </div>
        <div fxLayoutAlign="space-around stretch" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"
            class="multi-image-content">
            <div fxLayout.sm="row" fxLayout.xs="column" fxLayoutGap="20px">
                <div fxLayout.md="row" fxLayoutGap="20px">
                    <img ngStyle.sm="margin-left.px:50;" src="../../../assets/connect-card.jpg" alt="">
                    <img ngStyle.sm="margin-left.px:50;" src="../../../assets/connect-card.jpg" alt="">
                </div>
                <div fxLayout.md="row" fxLayoutGap="20px">
                    <img ngStyle.sm="margin-left.px:50;" src="../../../assets/connect-card.jpg" alt="">
                    <img ngStyle.sm="margin-left.px:50;" src="../../../assets/connect-card.jpg" alt="">
                </div>
            </div>
            <div fxLayout.sm="row" fxLayout.xs="column" fxLayoutGap="20px">
                <div fxLayout.md="row" fxLayoutGap="20px">
                    <img ngStyle.sm="margin-left.px:50;" src="../../../assets/connect-card.jpg" alt="">
                    <img ngStyle.sm="margin-left.px:50;" src="../../../assets/connect-card.jpg" alt="">
                </div>
                <div fxLayout.md="row" fxLayoutGap="20px">
                    <img ngStyle.sm="margin-left.px:50;" src="../../../assets/connect-card.jpg" alt="">
                    <img ngStyle.sm="margin-left.px:50;" src="../../../assets/connect-card.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>